<footer>
    <div class="footer-content">
        <p>&copy; <span id="current-year"></span> Kukkik Ano. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</footer>